* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.left-nav-app-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .left-nav-app-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 242px;
    max-width: 245px;
    height: 91.2vh;
    border: 1px solid #000000;
  }
}

.left-nav-items-list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  flex-grow: 1;
}

.left-nav-item-container {
  display: flex;
  align-items: center;
}

.left-icon {
  width: 20%;
  color: #000000;
}

.left-nav-item {
  font-weight: 500;
}

.left-nav-link {
  text-decoration: none;
  color: #000000;
}

.left-nav-button {
  width: 100%;
}

.contact-us-container {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.contact-us-heading {
  font-size: 18px;
}

.contact-us-icons {
  display: flex;
  align-items: center;
}

.contact-us-image {
  width: 18%;
  margin-right: 10px;
}

.enjoy-paragraph {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
